[submodule "apps/app-blinker"]
	path = apps/app-blinker
	url = https://github.com/CMUAbstract/app-blinker
[submodule "ext/maker"]
	path = tools/maker
	url = https://github.com/CMUAbstract/maker
[submodule "tools/mementos"]
	path = tools/mementos
	url = https://github.com/CMUAbstract/mementos
[submodule "ext/libio"]
	path = ext/libio
	url = https://github.com/CMUAbstract/libio.git
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = https://github.com/CMUAbstract/libmsp.git
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = https://github.com/CMUAbstract/libmspbuiltins.git
